<% provide(:title, 'Update list') %>
<% provide(:button_text, 'Save changes') %>
<% provide(:url, list_path) %>
<h1>Update list</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
