<% provide(:title, 'New list') %>
<% provide(:button_text, 'Create new list') %>
<% provide(:url, user_lists_path) %>
<h1>New list</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
