<% provide(:title, current_user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= current_user.name %>
      </h1>
      <%= render 'shared/menu' %>
    </section>
  </aside>
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12 titlebox">
        <div class="col-md-10">
          <h3>
            <%= "#{@list.title}" %>
          </h3>
          <p>
            <%= "#{@list.description}" %>
          </p>
        </div>
      <div class="col-md-2">
        <%= link_to "Add new task", new_user_task_path(user_id: current_user.id), class: "btn btn-success new-task" %>
      </div>
    </div>
  </div>
  <% if @list_tasks.any? %>
    <ol class="tasks">
      <%= render @list_tasks %>
    </ol>
    <%= will_paginate @list_tasks %>
  <% end %>
  </div>
</div>
