<% if logged_in? %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        Assigned to you
      </h1>
      <%= render 'shared/menu' %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @feed_items.any? %>
    <div class="titlebox">
      <div class="col-md-10">
        <h3>Tasks (<%= @feed_items.count %>)</h3>
      </div>
      <div class="col-md-2">
        <%= link_to "Add new task", new_task_path, class: "btn btn-success new-task" %>
      </div>
    </div>
      <%= render 'shared/feed' %>
    <% end %>
  </div>
</div>

<% else %>
<div class="center jumbotron">
  <h1>Welcome to the ToDo!</h1>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% end %>
