<%= form_for @task, url: yield(:url) do |task| %>
  <%= render 'shared/error_messages', object: task.object %>

  <%= task.label :title %>
  <%= task.text_field :title, class: 'form-control' %>

  <%= task.label :content %>
  <%= task.text_field :content, class: 'form-control' %>

  <%= task.label :list_id %>
  <%= collection_select(:list, :list_id, current_user.lists, :id, :title) %>

  <%= task.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
