<li id="task-<%= task.id %>", class="task-box" >
  <span class="title"><%= task.title %></span>
  <% if task.status == false %>
    <%= form_for task, url: task_status_complite_path(task_id: task.id), method: :get do |f| %>
      <%= f.submit 'Complite', class: "btn btn-success btn-xs btn-task-status", style: "float: right" %>
    <% end %>
  <% elsif task.status == true %>
    <%= form_for task, url: task_change_status_path(task_id: task.id), method: :get do |f| %>
      <%= f.submit 'Change status', class: "btn btn-primary btn-xs btn-task-status", style: "float: right" %>
    <% end %>
  <% end %>
  <span class="content"><%= task.content %></span><br>
  <span class="user">by <%= link_to task.user.name, task.user %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(task.updated_at) %> ago.
  </span>
  <% if current_user?(task.user) %>
  <span style="float: right">
    <%= link_to "Edit", edit_task_path(id: task.id), class: "btn btn-warning btn-xs btn-task" %>
    <%= link_to "Delete", task, method: :delete,
                                data: { confirm: "You sure?" },
                                class: "btn btn-danger btn-xs btn-task" %>
  </span>
  <% end %>
</li>
