<% provide(:title, "Update task") %>
<% provide(:button_text, 'Save changes') %>
<% provide(:url, task_path) %>
<h1>Update task</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
