<% provide(:title, 'New task') %>
<% provide(:button_text, 'Create new task') %>
<% provide(:url, user_tasks_path) %>
<h1>New task</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
