<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
      <%= render 'shared/menu' %>
    </section>
  </aside>
  <div class="col-md-8">

    <div class="row">

      <div class="col-md-12 titlebox">
        <% if @user.lists.any? %>
        <div class="col-md-10">
          <h3>Tasks (<%= @user.tasks.count %>)</h3>
        </div>
        <div class="col-md-2">
          <%= link_to "Add new task", new_user_task_path(user_id: current_user.id), class: "btn btn-success new-task" %>
        </div>
        <% else %>
          <h1>Create new list!</h1>
        <% end %>
      </div>

    </div>

    <% if @user.tasks.any? %>
      <ol class="tasks">
        <%= render @tasks %>
      </ol>
      <%= will_paginate @tasks %>
    <% end %>
  </div>
</div>
