// Place all the styles related to the StaticPage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.titlebox {
  width: 100%;
  height: 100%;
  margin: 1em;
  padding: 1em;
}
