// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* tasks */

.tasks {
  list-style: none;
  padding: 0;
  li {
    margin: 1em 0;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .title {
    font-weight: bold;
  }
  .content {
    display: block;
    margin-left: 60px;
  }
  .timestamp {
    color: #A9A9A9;
    display: block;
    margin-left: 60px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.new-task {
  margin: 1em 0em 0em -1em;
}

.btn-task {
  width: 4em;
  margin: -4em 0.25em 0em 0.25em;
}

.btn-task-status {
  width: 9em;
  margin: -2em 0.25em 0em 0.25em;
}
